.panel {
  >.panel-heading {
    .menu-font();
    padding: 10px 15px;
    h1, h2, h3, h4 {
      .menu-font();
      padding: 10px 15px;
    }
  }
}

.panel-title, .title {
  i {
    padding-right: 10px;
  }
}

