@black: 		#0f0705;
@black-image: 		"../images/paper/black-small.png";

@white: 		#ffffff;
@orange: 		#f6a315;
@red: 			#d94545;
@brown: 		#543020;
@green: 		#3c8a66;
@green-dark: 	#2d664b;
@blue-link-color: #1e7ec8;

@data-table-color-dark: #d9e5ee;
@data-table-color-light: lighten(@data-table-color-dark, 5%);

@data-table-border-red: #f9aeae;

// @btn-color: #dddddd;
@btn-color: #B79E7B;

// @inputBorder: darken(@btn-color, 10%);
@inputBorder: #957e5d;
@inputFocusBorder: rgba(246,163,21,.8);
@inputFocusBorderGlowColor: rgba(246,163,21,.6);

@link-color: @red;

@bg-color: #EECDA2;
@bg-image-top: "../images/bg.png";
@bg-image: "../images/paper/eecda2-small.png";

@sidebar-border-color: #c1a782;

@main-width: 1065px;
@col-left-width: 195px; //+17px
@col-right-width: 195px; //+17px
@col-space: 17px;
@col-left-width-with-space: @col-left-width + @col-space;
@col-right-width-with-space: @col-right-width + @col-space;
@col2-left-main-width: @main-width - @col-left-width-with-space;
@product-grid-width: round((@col2-left-main-width / 5) - 0.5);

@block-title: #3f1e0d;
@block-titel-text-color: @black;
@block-border-between-titel-content: #d6c6b7;

@block-content-bg: #a3cdc3;
@block-content-bg-image: "../images/paper/a3cdc3-small.png";

@footer-color: #f9eed2;
@footer-image: "../images/paper/f9eed2-small.png";

//@footer-text-color: #7f6b50;
@footer-text-color: @black;

@product-bg: #c3a782;
@product-bg-image: "../images/paper/c3a782-small.png";

@toolbar-border-color: #d0a76c;


@news-header-bgcolor: #3f1e0d;
@news-font-color: #ca8307;

// Buttons
// -------------------------
@btnBackground:                     @btn-color;
@btnBackgroundHighlight:            darken(@btn-color, 10%);
@btnBorder:                         rgba(0, 0, 0, 0);

@btnPrimaryBackground:              @navbarBackground;
@btnPrimaryBackgroundHighlight:     @navbarBackground;

@btnInfoBackground:                 @purple;
@btnInfoBackgroundHighlight:        @purple;

@btnSuccessBackground:              @green;
@btnSuccessBackgroundHighlight:     @green;

@btnWarningBackground:              @orange;
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               @yellow;
@btnDangerBackgroundHighlight:      @yellow;

@btnInverseBackground:              #27666D;
@btnInverseBackgroundHighlight:     #27666D;

@baseBorderRadius:      0;